@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

[data-aos] {
  visibility: visible;
}

[data-aos].animated {
  visibility: visible;
}

header {
  background-color: #030303;
  width: 100%;
  height: 50px;
}
header nav {
  background-color: #030303;
  height: 50px;
}
header nav ul li {
  display: inline-block;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: auto;
  text-align: center;
}
header nav a {
  color: #f504c1;
  list-style: none;
  text-decoration-line: none;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 16px;
}

main {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 1850px;
}
main div h1 {
  margin-bottom: 2%;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
}
main section {
  display: flexbox;
  margin-left: 0.2%;
  margin-right: 0.2%;
}
main section div {
  width: 100%;
}
main section div h2 {
  border-style: solid;
  background-color: #030303;
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
  color: #fdfdfd;
  text-align: center;
}
main section div p {
  font-family: Georgia;
}

#nosotros {
  height: 150px;
  width: 100%;
}
#nosotros #nosotrostexto {
  margin-top: 0.5%;
}

#productos {
  height: 350px;
  width: 100%;
}
#productos #productostext {
  margin-top: 0.5%;
}
#productos #i1 {
  margin-top: 2%;
  margin-left: 20px;
}
#productos #i2 {
  margin-top: 2%;
  margin-left: 50px;
}
#productos #i3 {
  margin-top: 2%;
  margin-left: 60px;
}
#productos #i4 {
  margin-top: 2%;
  margin-left: 60px;
}

#contacto {
  height: 330px;
}
#contacto #contactoform {
  margin-top: 0.5%;
}
#contacto #nombre {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #apellido {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #email {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #telefono {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #codigopostal {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #ciudad {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #descripcion1 {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #descripcion {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

#presupuesto {
  height: 400px;
}
#presupuesto #presupuestotext {
  margin-top: 0.5%;
}
#presupuesto #presupuestoform {
  margin-top: 1%;
}
#presupuesto #nombre {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #apellido {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #email {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #telefono {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #codigopostal {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #ciudad {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #descripcion1 {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #newpresup {
  margin-top: 2%;
}
#presupuesto #descripcion {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

#faqs {
  height: 300px;
  width: 100%;
}
#faqs #faqs1 {
  font-family: Georgia;
  font-size: 18px;
  text-align: left;
}
#faqs #faqs2 {
  font-family: Georgia;
  font-size: 16px;
  text-align: left;
}
#faqs #faqs2 h4 {
  font-weight: bold;
  font-size: 18px;
}

footer {
  background-color: #030303;
  margin-top: 20%;
}
footer ul li {
  display: inline-block;
  margin-left: 8%;
  padding: 0%;
  margin-bottom: 0%;
}
footer ul li a {
  color: #f504c1;
  list-style: none;
  text-decoration-line: none;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 16px;
}

/*# sourceMappingURL=estilo.css.map */
