
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
    
//colors
$backgroudcolo1:rgb(3, 3, 3);
$backgroudcolo2: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
$color1: #f504c1;
$color2:rgb(253, 253, 253);

//bordes
$borde1: solid;

//texto
$font-family:'Source Code Pro', monospace;
$tamaño1:12px;
$tamaño2:14px;
$tamaño3:16px;
$tamaño4:18px;
$tamaño5:20px;
$tañano6:50px;


header{
    background-color: $backgroudcolo1;
    height: 50%;
}
nav{
    background-color: $backgroudcolo1;
    #imagen{
        height: 0.5%;
        width: 3%;       
        margin-left: 0.5%;
        margin-top: 2%;
        margin-bottom: 0.5%;
    }

}
ul li{
    display: inline-block;
    margin-left: 9%;
    margin-top: 0.5%;
    padding: 0%;
    margin-bottom: 2%;
    


    a{
        color: $color1;
        list-style: none;
        text-decoration-line: none;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        font-size: $tamaño3;
    }
}



main{
    background-image: $backgroudcolo2;
    div{
        h1{
            margin-bottom: 2%;
            text-align: center;
            font-family: $font-family;
            font-size: $tañano6;
            font-weight: bold;
        }
    }
    section{
        display: inline-block;
        width: 100%;
        div{
            height: 300px;
            h2{
                border-style: $borde1;
                background-color: $backgroudcolo1;
                font-family: $font-family;
                font-weight: bold;
                font-size: $tamaño5;
                color: $color2;
                text-align: center;
            
        
            }
            p{
                font-family: $font-family;
                font-weight: bold;
            }


        }
        
    }
}

#contacto{
    height: auto;
    display: grid;
    grid-template-areas: 
    "nombre" "apellido" "email"
    "telefono" "codigopostal" "ciudad" 
    "descripcion1"
    "descripcion";
    #nombre{
        grid-area: "nombre";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
        
    }
    #apellido{
        grid-area: "apellido";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #email{
        grid-area: "email";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #telefono{
        grid-area: "telefono";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #codigopostal{
        grid-area: "codigopostal";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #ciudad{
        grid-area: "ciudad";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #descripcion1{
        grid-area: "descripcion1";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }

    #descripcion{
        grid-template-areas: "descripcion";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
}
#presupuesto{
    height: auto;
    display: grid;
    grid-template-areas: 
    "nombre" "apellido" "email"
    "telefono" "codigopostal" "ciudad" 
    "descripcion1"
    "descripcion";
    #nombre{
        grid-area: "nombre";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
        
    }
    #apellido{
        grid-area: "apellido";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #email{
        grid-area: "email";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #telefono{
        grid-area: "telefono";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #codigopostal{
        grid-area: "codigopostal";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #ciudad{
        grid-area: "ciudad";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #descripcion1{
        grid-area: "descripcion1";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }

    #descripcion{
        grid-template-areas: "descripcion";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
}

.chat-box{
    width: 400px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    
}
.client{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #d16ba5;
}
.client img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.client-info{
    color:$color2;
    padding: 15px;
    font-family: $font-family;

}
.client-info p{
    font-size: $tamaño1;
    font-weight: bold;
}
.chats{
    width: 360px;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.9em;

}
.client-chat{
    width: 200px;
    word-wrap: break-word;
    background-color: #aa8fd8;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;

}
.my-chat{
    width: 200px;
    word-wrap: break-word;
    background-color: #d16ba5;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;

}
.chat-input{
    display: flex;
    align-items:center;
    width: 350px;
    height: 65px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;


}
.chat-input input{
    width: calc(100% - 40px);
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;

}
.send-btn{
    width: 60px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.send-btn:active{
    transform: scale(0.85);

}
.chat-btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
}
.chat-icon{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top:0;
    left: 0;
    padding: 5px;
    transition: ease-in-out;

}
.chat-icon:hover{
    transform: rotate(30deg);
}
footer{
    background-color: $backgroudcolo1;
    ul li{
        display: inline-block;
        margin-left: 8%;
        padding: 0.1%;
        margin-bottom: 0.5%;
        
    
    
        a{
            color: $color1;
            list-style: none;
            text-decoration-line: none;
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            font-size: 16px;
        }
    }
}