
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
    
//colors
$backgroudcolo1:rgb(3, 3, 3);
$backgroudcolo2: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
$color1: #f504c1;
$color2:rgb(253, 253, 253);

//bordes
$borde1: solid;

//texto
$font-family:'Source Code Pro', monospace;
$tamaño1:12px;
$tamaño2:14px;
$tamaño3:16px;
$tamaño4:18px;
$tamaño5:20px;
$tañano6:50px;


header{
    background-color: $backgroudcolo1;
}
nav{
    background-color: $backgroudcolo1;

}
ul li{
    display: inline-block;
    margin-left: 8%;
    padding: 0.1%;
    margin-bottom: 0.5%;
    


    a{
        color: $color1;
        list-style: none;
        text-decoration-line: none;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        font-size: $tamaño3;
    }
}



main{
    background-image: $backgroudcolo2;
    div{
        h1{
            margin-bottom: 2%;
            text-align: center;
            font-family: $font-family;
            font-size: $tañano6;
            font-weight: bold;
        }
    }
    section{
        display: inline-block;
        width: 100%;
        div{
            height: 300px;
            h2{
                border-style: $borde1;
                background-color: $backgroudcolo1;
                font-family: $font-family;
                font-weight: bold;
                font-size: $tamaño5;
                color: $color2;
                text-align: center;
            
        
            }
            p{
                font-family: $font-family;
                font-weight: bold;
            }


        }
        
    }
}

#contacto{
    height: auto;
    display: grid;
    grid-template-areas: 
    "nombre" "apellido" "email"
    "telefono" "codigopostal" "ciudad" 
    "descripcion1"
    "descripcion";
    #nombre{
        grid-area: "nombre";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
        
    }
    #apellido{
        grid-area: "apellido";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #email{
        grid-area: "email";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #telefono{
        grid-area: "telefono";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #codigopostal{
        grid-area: "codigopostal";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #ciudad{
        grid-area: "ciudad";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #descripcion1{
        grid-area: "descripcion1";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }

    #descripcion{
        grid-template-areas: "descripcion";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
}
#presupuesto{
    height: auto;
    display: grid;
    grid-template-areas: 
    "nombre" "apellido" "email"
    "telefono" "codigopostal" "ciudad" 
    "descripcion1"
    "descripcion";
    #nombre{
        grid-area: "nombre";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
        
    }
    #apellido{
        grid-area: "apellido";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #email{
        grid-area: "email";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #telefono{
        grid-area: "telefono";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #codigopostal{
        grid-area: "codigopostal";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #ciudad{
        grid-area: "ciudad";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
    #descripcion1{
        grid-area: "descripcion1";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }

    #descripcion{
        grid-template-areas: "descripcion";
        font-family: $font-family;
        font-size: $tamaño3;
        text-align: left;
        font-weight: bold;
    }
}

footer{
    background-color: $backgroudcolo1;
    ul li{
        display: inline-block;
        margin-left: 8%;
        padding: 0.1%;
        margin-bottom: 0.5%;
        
    
    
        a{
            color: $color1;
            list-style: none;
            text-decoration-line: none;
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            font-size: 16px;
        }
    }
}