
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
    
//colors
$backgroudcolo1:rgb(3, 3, 3);
$backgroudcolo2: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
$color1: #f504c1;
$color2:rgb(253, 253, 253);

//bordes
$borde1: solid;

header{
    background-color: $backgroudcolo1;
}
nav{
    background-color: $backgroudcolo1;

}
ul li{
    display: inline-block;
    margin-left: 8%;
    padding: 0.1%;
    margin-bottom: 0.5%;
    


    a{
        color: $color1;
        list-style: none;
        text-decoration-line: none;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        font-size: 16px;
    }
}



main{
    background-image: $backgroudcolo2;
    div{
        h1{
            margin-bottom: 2%;
            text-align: center;
            font-family: 'Source Code Pro', monospace;
            font-size: 50px;
            font-weight: bold;
        }
    }
    section{
        display: inline-block;
        width: 100%;
        div{
            height: 300px;
            h2{
                border-style: $borde1;
                background-color: $backgroudcolo1;
                font-family: 'Source Code Pro', monospace;
                font-weight: bold;
                font-size: 20px;
                color: $color2;
                text-align: center;
            
        
            }
            p{
                font-family: 'Source Code Pro', monospace;
                font-weight: bold;
            }


        }
    }
}
footer{
    background-color: $backgroudcolo1;
    ul li{
        display: inline-block;
        margin-left: 8%;
        padding: 0.1%;
        margin-bottom: 0.5%;
        
    
    
        a{
            color: $color1;
            list-style: none;
            text-decoration-line: none;
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            font-size: 16px;
        }
    }
}