@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

[data-aos] {
  visibility: visible;
}

[data-aos].animated {
  visibility: visible;
}

header {
  background-color: #030303;
  height: 50%;
}

nav {
  background-color: #030303;
}
nav #imagen {
  height: 0.5%;
  width: 3%;
  margin-left: 0.5%;
  margin-top: 2%;
  margin-bottom: 0.5%;
}

ul li {
  display: inline-block;
  margin-left: 9%;
  margin-top: 0.5%;
  padding: 0%;
  margin-bottom: 2%;
}
ul li a {
  color: #f504c1;
  list-style: none;
  text-decoration-line: none;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 16px;
}

main {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
main div h1 {
  margin-bottom: 2%;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 50px;
  font-weight: bold;
}
main section {
  display: inline-block;
  width: 100%;
}
main section div {
  height: 300px;
}
main section div h2 {
  border-style: solid;
  background-color: #030303;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 20px;
  color: #fdfdfd;
  text-align: center;
}
main section div p {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}

#contacto {
  height: auto;
  display: grid;
  grid-template-areas: "nombre" "apellido" "email" "telefono" "codigopostal" "ciudad" "descripcion1" "descripcion";
}
#contacto #nombre {
  grid-area: "nombre";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #apellido {
  grid-area: "apellido";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #email {
  grid-area: "email";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #telefono {
  grid-area: "telefono";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #codigopostal {
  grid-area: "codigopostal";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #ciudad {
  grid-area: "ciudad";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #descripcion1 {
  grid-area: "descripcion1";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#contacto #descripcion {
  grid-template-areas: "descripcion";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

#presupuesto {
  height: auto;
  display: grid;
  grid-template-areas: "nombre" "apellido" "email" "telefono" "codigopostal" "ciudad" "descripcion1" "descripcion";
}
#presupuesto #nombre {
  grid-area: "nombre";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #apellido {
  grid-area: "apellido";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #email {
  grid-area: "email";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #telefono {
  grid-area: "telefono";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #codigopostal {
  grid-area: "codigopostal";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #ciudad {
  grid-area: "ciudad";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #descripcion1 {
  grid-area: "descripcion1";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#presupuesto #descripcion {
  grid-template-areas: "descripcion";
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.chat-box {
  width: 400px;
  height: 450px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.client {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  background-color: #d16ba5;
}

.client img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.client-info {
  color: #fdfdfd;
  padding: 15px;
  font-family: "Source Code Pro", monospace;
}

.client-info p {
  font-size: 12px;
  font-weight: bold;
}

.chats {
  width: 360px;
  padding: 0 15px;
  color: #fff;
  position: relative;
  font-size: 0.9em;
}

.client-chat {
  width: 200px;
  word-wrap: break-word;
  background-color: #aa8fd8;
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
}

.my-chat {
  width: 200px;
  word-wrap: break-word;
  background-color: #d16ba5;
  padding: 7px 10px;
  border-radius: 10px 10px 0 10px;
  margin: 5px 0 5px auto;
}

.chat-input {
  display: flex;
  align-items: center;
  width: 350px;
  height: 65px;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.chat-input input {
  width: calc(100% - 40px);
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  color: #000;
  font-size: 1.2em;
  padding: 0 15px;
}

.send-btn {
  width: 60px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.send-btn:active {
  transform: scale(0.85);
}

.chat-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
}

.chat-icon {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transition: ease-in-out;
}

.chat-icon:hover {
  transform: rotate(30deg);
}

footer {
  background-color: #030303;
}
footer ul li {
  display: inline-block;
  margin-left: 8%;
  padding: 0.1%;
  margin-bottom: 0.5%;
}
footer ul li a {
  color: #f504c1;
  list-style: none;
  text-decoration-line: none;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 16px;
}

/*# sourceMappingURL=estilo.css.map */
